<div class="container">
	<div class="row colour-swatches">
		<div class="[ colour-swatch colour-primary ]"></div>
		<div class="[ colour-swatch colour-secondary ]"></div>
		<div class="[ colour-swatch colour-tertiary ]"></div>
		<div class="[ colour-swatch colour-quinary ]"></div>
		<div class="[ colour-swatch colour-senary ]"></div>
	</div>
</div>
