<div class="flex-container">
	<div class="clr-swatch clr-primary"></div>
	<div class="clr-swatch clr-secondary"></div>
	<div class="clr-swatch clr-tertiary"></div>
	<div class="clr-swatch clr-quinary"></div>
	<div class="clr-swatch clr-senary"></div>
</div>
