.colours-and-typography {
	padding: 1.5rem;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	margin-top: 3rem;

	&:first-of-type {
		margin-top: 0;
	}
}

.colour {
	&-swatch {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: $border-radius;
	}

	&-primary {
		background-color: $primary;
	}

	&-secondary {
		background-color: $secondary;
	}

	&-tertiary {
		background-color: $tertiary;
	}

	&-quinary {
		background-color: $quinary;
	}

	&-senary {
		background-color: $senary;
	}
}
