@font-face {
	font-family: 'oz';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/oz/AoOz-Bold.eot?') format('eot'), url('/fonts/oz/AoOz-Bold.woff') format('woff'), url('/fonts/oz/AoOz-Bold.ttf') format('truetype'), url('/fonts/oz/AoOz-Bold.svg') format('svg');
}

@font-face {
	font-family: 'oz';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/oz/AoOz-Regular.eot?') format('eot'), url('/fonts/oz/AoOz-Regular.woff') format('woff'), url('/fonts/oz/AoOz-Regular.ttf') format('truetype'), url('/fonts/oz/AoOz-Regular.svg') format('svg');
}

@import 'functions/rem-calc';
@import 'ao-bootstrap-variables';

// Overrides Bootstrap variableS

@import 'bootstrap/scss/functions';

// Include all of Bootstrap

@import 'bootstrap/scss/bootstrap';

// Bootstrap component overrides

@import 'bootstrap-buttons';
@import 'bootstrap-tables';
@import 'ao-bootstrap-overrides';

// AO custom components

@import 'ao-dashboard-head';
@import 'colours-and-typography';
